#bg {
    background-image: url('./img/bg.jpg');
    /*background-image: url('./img/bg.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    /* opacity: 0.9; */
}

body {
    color: #222;
    font-family: "Open Sans", "Rounded Mplus 1c", "Kokoro", 'Noto Sans Japanese', "Yu Gothic", "Meiryo UI", sans-serif;
    font-weight: 300;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

* {
    transition: all 180ms ease-in-out;
}

#line_x {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50vmin;
    border-bottom: solid 2px white;
    /*border-bottom:solid 2px;*/
}

#line_y {
    position: absolute;
    top: 0;
    left: -3px;
    width: 50vmin;
    height: 100vh;
    border-right: solid 2px white;
    /*border-right:solid 2px;*/
}

@keyframes sct {
    from {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(90deg);
    }
    90% {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(700deg);
    }
}

#circle {
    background-image: url('./img/smg5.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vmin;
    height: 100vmin;
    animation-name: sct;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

#circle2 {
    background-image: url('./img/smg8.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vmin;
    height: 100vmin;
    animation-name: sct;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

#smbg {
    /*background-image: url('./img/smbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;*/
    background: rgba(255, 0, 0, 0);
    position: absolute;
    top: 23vmin;
    left: 50vmin;
    width: calc(100vw - 50vmin);
    height: 54vmin;
}

#smbg:hover {
    background: rgba(255, 0, 0, .5);
    box-shadow: 0 5px 10px white, 0 1px 6px -1px white;
}

#smbg2 {
    background-image: url('./img/smbg3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border: solid 2px white;
    /*border:solid 2px;*/
}

#mbg {
    background-image: url('./img/mbg6.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 2px center;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
}

@keyframes foxasct {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#foxa {
    background-image: url('./img/foxs.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 2px center;
    position: absolute;
    top: 2px;
    left: 54vmin;
    width: calc(54vmin/4);
    height: calc(54vmin/4);
    opacity: 0.5;
    animation-name: foxasct;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

#start {
    position: absolute;
    bottom: 10vmin;
    right: -2px;
    width: 46vmin;
    height: 10vmin;
    background: rgba(255, 0, 0, .4);
    cursor: pointer;
    border: solid 2px white;
    font-size: 9vmin;
    text-align: left;
    transition: all 350ms ease-in;
}

#start:hover {
    background: rgba(255, 255, 255, .8);
    box-shadow: 0 5px 10px white, 0 1px 6px -1px white;
    border: solid 2px black;
    width: 100vw;
}

@keyframes scrolls {
    30% {
        width: 85vmin;
        height: 6vmin;
    }
    to {
        width: 85vmin;
        height: calc(100vh - 4vmin);
    }
}

@keyframes scrollo {
    from {
        width: 85vmin;
        height: 93vh;
    }
    70% {
        width: 85vmin;
        height: 6vmin;
    }
    to {
        width: 45vmin;
        height: 6vmin;
    }
}

#scroll {
    position: absolute;
    bottom: 2vmin;
    right: -2px;
    width: 45vmin;
    height: 6vmin;
    background: rgba(255, 255, 255, .5);
    border: solid 2px white;
    /*transition: all 500ms ease-in-out;*/
    overflow: hidden;
    cursor: pointer;
}

#scroll>* {
    transition: all 100ms -25ms ease-in-out;
}

#scroll.hover {
    animation-name: scrolls;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    /*animation-direction:normal;*/
    box-shadow: 0 5px 10px white, 0 1px 6px -1px white;
    background: rgba(255, 254, 251, 0.95);
}

#scroll.out {
    animation-name: scrollo;
    animation-duration: 500ms;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

#dummy {
    position: absolute;
    top: 0;
    right: 0;
    width: inherit;
    height: inherit;
    margin-right: -16px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
}

#dummy li {
    margin-left: 1em;
}

#menu {
    position: absolute;
    top: 2vmin;
    right: -2px;
    width: 45vmin;
    height: 10vmin;
    background: rgba(255, 255, 255, .4);
    border: solid 2px white;
    font-size: 8vmin;
    transition: all 350ms ease-out;
    transition-delay: 350ms;
    cursor: pointer;
}

#menu.hover {
    width: 100vw;
    background: rgba(255, 0, 0, .4);
    transition: all 350ms ease-out;
}

#menus {
    position: absolute;
    top: 10vmin;
    right: -2px;
    width: 100vw;
    height: 0;
    background: rgba(255, 255, 255, .5);
    transition: all 350ms ease-out;
    z-index: auto;
    overflow: hidden;
}

#menus.hover {
    position: absolute;
    height: calc(100vh - 12vmin - 2vmin);
    background: rgba(255, 254, 251, 0.95);
    transition: all 350ms ease-out;
    transition-delay: 350ms;
    z-index: 1;
}

#menu_countents {
    position: absolute;
    top: 0;
    right: 0;
    width: inherit;
    height: inherit;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: -16px;
    margin-left: 0;
    list-style: none;
}

#menu_countents li {
    margin-left: 1em;
    margin:0;
}

#menu_countents li:hover {
    background: rgba(255, 0, 0, .4);
}