@keyframes sth{
    90%{
        top:2vmin;
    }
    to{
        top:2vmin;
        width: calc(100vw + 2px);    

        background:url(./img/nc9415.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left center;

        color:white;
        box-shadow: 0 5px 10px white, 0 1px 6px -1px white;
        text-shadow: 0 0 10px white;
    }
}

@keyframes sto{
    from{
        top:2vmin;
        width: calc(100vw + 2px);    

        background:url(./img/nc9415.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left center;

        color:white;
        box-shadow: 0 5px 10px white, 0 1px 6px -1px white;
        text-shadow: 0 0 10px white;

    }    
    to{
        top:calc(100vh - 10vmin - 10vmin);
        width:5.5em;

        background:white;
        border:solid 2px black;
        color:black;
    }
}

#start{
    position:absolute;
    top:calc(100vh - 10vmin - 10vmin + 2px);
    right:-2px;
    width:5.5em;
    height:calc(10vmin - 4px);

    color:black;
    background:rgba(255,255,255,.4);
    font-size:calc(9vmin - 4px);
    cursor:pointer;
    border:solid 2px black;

    border-radius: 5px;     /* CSS3草案 */
    -webkit-border-radius: 5px; /* Safari,Google Chrome用 */
    -moz-border-radius: 5px;    /* Firefox用 */
}

#start.hover{
    animation-name:sth;
    animation-delay:0;
    animation-duration: 700ms;
    animation-timing-function:ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#start.out{
    animation-name:sto;
    animation-delay:350ms;
    animation-duration: 500ms;
    animation-timing-function:ease-out;
    animation-iteration-count: 1;
    animation-fill-mode:backwards;
}

#starts{
    position:absolute;
    top:calc(10vmin - 4px);
    right:0;
    width:100vw;
    height:0;
    overflow:hidden;

    transition: all 250ms ease-out;
    z-index:auto;
    color:black;
}

#starts.hover{
    top:calc(10vmin - 2px);
    height:calc(100vh - 2vmin - 10vmin - 2vmin - 2px);
    background: rgba(255, 254, 251, 0.95);

    transition: all 250ms ease-out;
    transition-delay: 800ms;
    z-index:2;
}

#st-contents{
    margin:0;
    padding:0;    
    margin-left: .5em;
    cursor:pointer;    
    list-style: none;
}

#st-contents li{
    border-radius: 5px;     /* CSS3草案 */
    -webkit-border-radius: 5px; /* Safari,Google Chrome用 */
    -moz-border-radius: 5px;    /* Firefox用 */
}

#st-contents li:hover {
    background:linear-gradient(90deg,rgba(16,87,121,.9), rgba(16,87,121,.1));
    color:white;
}

@keyframes scrolls {
    65%{
        bottom:calc(100vh - 2vmin - 6vmin);
        width: 85vmin;
        height: 6vmin;
    }
    to {
        width: 85vmin;
        height: calc(100vh - 4vmin);
    }
}

@keyframes scrollo {
    from {
        width: 85vmin;
        height: 93vh;
    }
    70% {
        width: 85vmin;
        height: 6vmin;
    }
    to {
        width: 45vmin;
        height: 6vmin;
    }
}

#scroll {
    position: absolute;
    bottom: calc(2vmin + 2px);
    right: -2px;
    width: 45vmin;
    height: calc(6vmin - 4px);
    background: rgba(255, 255, 255, .5);
    border: solid 2px white;
    /*transition: all 500ms ease-in-out;*/
    overflow: hidden;
    cursor: pointer;

    border-radius: 5px;     /* CSS3草案 */
    -webkit-border-radius: 5px; /* Safari,Google Chrome用 */
    -moz-border-radius: 5px;    /* Firefox用 */
}

#scroll>* {
    transition: all 100ms -25ms ease-in-out;
}

#scroll.hover {
    animation-name: scrolls;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    /*animation-direction:normal;*/
    box-shadow: 0 5px 10px white, 0 1px 6px -1px white;
    background: rgba(255, 254, 251, 0.95);

    border-radius: 0;     /* CSS3草案 */
    -webkit-border-radius: 0; /* Safari,Google Chrome用 */
    -moz-border-radius: 0;    /* Firefox用 */
}

#scroll.out {
    animation-name: scrollo;
    animation-duration: 500ms;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

#dummy {
    position: absolute;
    top: 0;
    right: 0;
    width: inherit;
    height: inherit;

    margin-right: -16px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
}

#dummy li {
    margin-left: 1em;
}

#menu {
    position: absolute;
    top: calc(2vmin + 2px);
    right: -2px;
    width: 45vmin;
    height: calc(10vmin - 4px);

    background: rgba(255, 255, 255, .4);
    border: solid 2px white;
    font-size: 8vmin;
    transition: all 350ms ease-out;
    transition-delay: 350ms;
    cursor: pointer;

    border-radius: 5px;     /* CSS3草案 */
    -webkit-border-radius: 5px; /* Safari,Google Chrome用 */
    -moz-border-radius: 5px;
}

#menu.hover {
    width: calc(100vw + 2px);    
    border: solid 2px black;

    background:url(./img/nc9415.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;

    transition: all 350ms ease-out;
    color:white;
    text-shadow: 0 0 10px white;
    box-shadow: 0 5px 10px white, 0 1px 6px -1px white;
    z-index:2;
}

#menus {
    position: absolute;
    top: calc(10vmin - 2px);
    right: -2px;
    width: calc(100vw + 4px);
    height: 0;
    background: rgba(255, 255, 255, .5);
    transition: all 350ms ease-out;
    z-index: auto;
    overflow: hidden;
    color:black;
}

#menus.hover {
    position: absolute;
    height: calc(100vh - 12vmin - 2vmin);
    background: rgba(255, 254, 251, 0.95);
    transition: all 350ms ease-out;
    transition-delay: 450ms;
    z-index: 1;
}

#menu_contents {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 16px);
    height: inherit;

    overflow-y: scroll;
    overflow-x: hidden;

    margin-top: 0;
    margin-bottom: 0;
    margin-right: -16px;
    margin-left: 0;
    list-style: none;
    padding:0;
}

#menu_contents li {
    margin:0;
    margin-left: .5em;

    border-radius: 5px;     /* CSS3草案 */
    -webkit-border-radius: 5px; /* Safari,Google Chrome用 */
    -moz-border-radius: 5px;    /* Firefox用 */
}

#menu_contents li:hover {
    background:linear-gradient(90deg,rgba(16,87,121,.9), rgba(16,87,121,.1));
    color:white;
}