body {
    background-image: url('./img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /*position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;*/
}

body {
    color: #222;
    font-family: "Kokoro", "Rounded Mplus 1c", "Open Sans", 'Noto Sans Japanese', "Yu Gothic", "Meiryo UI", sans-serif;
    font-weight: 300;
    height: 100vh;
    overflow-y: hidden;
    margin: 0;
}

#main title {
    top: center;
    left: center;
    width: 100vw;
    height: 100vh;
}

#dummy {
    max-height: 50%;
    overflow-y: auto;
}